<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Account Notebook</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css" >
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/72bbe25a3e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="styles.09e2c710755c8867a460.css"></head>
<body>

  <app-root></app-root>


<script src="./assets/js/jquery-3.3.1.min.js"></script>
<script src="./assets/js/popper.min.js" ></script>
<script src="./assets/js/bootstrap.min.js" ></script>

<script src="runtime-es2015.aa36e2789a7b6e5e7675.js" type="module"></script><script src="polyfills-es2015.6f582e2dd084a9eb31fe.js" type="module"></script><script src="runtime-es5.d3647fbfa3de00cd0bdf.js" nomodule></script><script src="polyfills-es5.804ff8a2a318283ac087.js" nomodule></script><script src="main-es2015.2db3d5613deb96138338.js" type="module"></script><script src="main-es5.2c2508d24dd96951b98d.js" nomodule></script></body>
</html>
